
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #2a7d1c;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #cccccc;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #2a7d1c;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.pane {
    -fx-background-color: #848484;
}