.button {
     -fx-border-color: #2a7d1c;
     -fx-border-radius: 5;
     -fx-border-width: 2;
     -fx-background-color: #cccccc;
     -fx-background-radius: 5;
     -fx-font: bold 13pt "Arial";
     -fx-font-fill: #000000;
     -fx-effect: dropshadow(one-pass-box,black, 8, 0.0, 2, 0)
}

.label {
     -fx-font-size: 11pt;
     -fx-font-family: "Segoe UI Semibold";
     -fx-opacity: 0.9;
     -fx-text-fill: #000000;
}
